<section class="sermons_work_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2>Sermons This Week</h2>
            <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from</p>
        </div>
        <owl-carousel #owlElement [options]="SlideOptions" [items]="sermonsInfo" 
        [carouselClasses]="['owl-theme', 'sliding']" > 
            <div class="item row" *ngFor="let sermon of sermonsInfo; index as i;">
                <div class="col-lg-8">
                    <div class="sermons_image">
                        <img src={{sermon.imageUrl}} alt="">
                        <p>{{sermon.header}}</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sermons_content">
                        <h3 class="title_color">{{sermon.title}}</h3>
                        <ul class="list_style sermons_category">
                            <li><i class="lnr lnr-user"></i><span>Categories: </span><a href="#">{{sermon.categories}}</a></li>
                            <li><i class="lnr lnr-database"></i><span>Sermon Speaker: </span> {{sermon.sermonSpeaker}}</li>
                            <li><i class="lnr lnr-calendar-full"></i><span>Date:</span>{{sermon.date}}</li>
                        </ul>
                        <a href="#" class="btn_hover">View More Details</a>
                    </div>
                </div>
            </div>
        </owl-carousel>
    </div>
</section>