<section class="event_blog_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2>{{upcommingEvent.title}}</h2>
            <p>{{upcommingEvent.header}}</p>
        </div>
        <div class="row" >
            <div class="col-md-4" *ngFor="let event of upcommingEvent.events; index as i;">
                <div class="event_post">
                    <img src={{event.imageUrl}} alt="">
                    <a href="#"><h2 class="event_title">{{event.title}}</h2></a>
                    <ul class="list_style sermons_category event_category">
                        <li><i class="lnr lnr-user"></i>{{event.dateTime}}</li>
                        <li><i class="lnr lnr-apartment"></i>{{event.apartment}}</li>
                        <li><i class="lnr lnr-location"></i>Santa monica, Los Angeles, USA</li>
                    </ul>
                    <a href="#" class="btn_hover">View Details</a>
                </div>
            </div>
        </div>
    </div>
</section>