/*----------------------------------------------------
@File: Default Styles
@Author: Rocky
@URL: http://wethemez.com
Author E-mail: rockybd1995@gmail.com

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.
---------------------------------------------------- */
/*=====================================================================
@Template Name: Royal Hotel
@Author: Rocky
@Developed By: Rocky
@Developer URL: http://rocky.wethemez.com
Author E-mail: rockybd1995@gmail.com

@Default Styles

Table of Content:
01/ Variables
02/ predefin
03/ header
04/ button
05/ banner
06/ breadcrumb
07/ about
08/ team
09/ project 
10/ price 
11/ team 
12/ blog 
13/ video  
14/ features  
15/ career  
16/ contact 
17/ footer

=====================================================================*/
/*----------------------------------------------------*/
/*font Variables*/
/*Color Variables*/
/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
.col-md-offset-right-1, .col-lg-offset-right-1 {
  margin-right: 8.33333333%;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.list_style {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

.row.m0 {
  margin: 0px;
}

.p0 {
  padding: 0px;
}

.mb_30 {
  margin-bottom: -30px;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #777777;
}

section {
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

button:focus {
  outline: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.section_gap {
  padding: 120px 0px;
}

.section_title {
  margin-bottom: 75px;
}

.section_title h2 {
  font-size: 36px;
  line-height: 40px;
  color: #222222;
  font-weight: 600;
}

.section_title p {
  line-height: 30px;
  margin-bottom: 0px;
}

.title_color {
  color: #222222;
}

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section_gap {
  padding: 120px 0;
}

.row_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.btn_hover {
  font-size: 14px;
  line-height: 30px;
  color: #222222;
  font-weight: 500;
  padding: 4px 35px;
  display: inline-block;
  border: 1px solid #eeeeee;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-transform: uppercase;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn_hover:hover {
  background: #00c8e6;
  color: #fff;
}

.view_btn {
  background: #fff;
}

.view_btn:hover {
  border-color: #222222;
  background: #222222;
}

.btn_hover_two {
  background: #00c8e6;
  color: #fff;
  border-color: #00c8e6;
}

.btn_hover_two:hover {
  background: transparent;
  color: #00c8e6;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.header_area {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  -webkit-transition: background 0.4s, all 0.3s linear;
  -o-transition: background 0.4s, all 0.3s linear;
  transition: background 0.4s, all 0.3s linear;
  background: #fff;
}

.header_area .navbar {
  background: transparent;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}

.header_area .navbar .nav .nav-item .nav-link {
  font: 500 12px/70px "Poppins", sans-serif;
  text-transform: uppercase;
  color: #222222;
  padding: 0px;
  display: inline-block;
  margin-right: 44px;
}

.header_area .navbar .nav .nav-item .nav-link:after {
  display: none;
}

.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
  color: #00c8e6;
}

.header_area .navbar .nav .nav-item.submenu {
  position: relative;
}

.header_area .navbar .nav .nav-item.submenu ul {
  border: none;
  padding: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0px;
  background: #fff;
}

@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu ul {
    position: absolute;
    top: 120%;
    left: 0px;
    min-width: 200px;
    text-align: left;
    opacity: 0;
    -webkit-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    visibility: hidden;
    display: block;
    border: none;
    padding: 0px;
    border-radius: 0px;
  }
}

.header_area .navbar .nav .nav-item.submenu ul:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #eeeeee transparent transparent transparent;
  position: absolute;
  right: 24px;
  top: 45px;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item {
  display: block;
  float: none;
  margin-right: 0px;
  border-bottom: 1px solid #ededed;
  margin-left: 0px;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
  line-height: 45px;
  color: #222222;
  padding: 0px 30px;
  -webkit-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
  display: block;
  margin-right: 0px;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:last-child {
  border-bottom: none;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link {
  background: #f9f9ff;
  color: #00c8e6;
}

@media (min-width: 992px) {
  .header_area .navbar .nav .nav-item.submenu:hover ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
  }
}

.header_area .navbar .nav .nav-item.submenu:hover ul .nav-item {
  margin-top: 0px;
}

.header_area .navbar .search {
  font-size: 12px;
  line-height: 60px;
  display: inline-block;
  color: #222222;
  margin-left: 43px;
}

.header_area .navbar .search i {
  font-weight: 600;
}

.header_area + section {
  margin-top: 110px;
}

.header_area.navbar_fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: background 0.4s, all 0.3s linear;
  -o-transition: background 0.4s, all 0.3s linear;
  transition: background 0.4s, all 0.3s linear;
}

.header_area.navbar_fixed .header_top {
  display: none;
}

.header_area.navbar_fixed .navbar {
  background: #fff;
}

.header_top .social_icon li a {
  font-size: 12px;
  line-height: 30px;
  color: #cccccc;
  width: 30px;
  height: 30px;
  background: #f9f9ff;
  display: inline-block;
  text-align: center;
}

.header_top .social_icon li a:hover {
  background: #00c8e6;
  color: #fff;
}

.header_top .top_btn a {
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  padding: 0px 32px;
  background: #f9f9ff;
  color: #777;
}

.header_top .top_btn a:hover {
  background: #00c8e6;
  color: #fff;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*=========== event_date_area css ==========*/
.event_date_area {
  background: #00c8e6;
  padding: 100px 0px;
}

.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.evet_location {
  color: #fff;
}

.evet_location h3 {
  padding-bottom: 5px;
}

.evet_location p {
  margin-bottom: 0px;
}

.evet_location p span {
  padding-right: 12px;
}

.event_time {
  
  text-align: center;
}

.event_time h4 {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}

.event_time .timer {
  background: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  padding: 0px 0px;
}

.event_time .timer .timer__section {
  float: left;
  overflow: hidden;
 
  width: calc(100% / 4);
}

.event_time .timer .timer__section .timer__number {
  font: 600 12px/10px "Poppins", sans-serif;
}

.event_time .timer .timer__section .timer__label {
  font-size: 10px;
  line-height: 12px;
  text-transform: capitalize;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

.about_area img {
  max-width: 100%;
}

.about_content {
  padding-right: 70px;
}

.about_content p {
  padding: 15px 0px 25px;
}

.features_item {
  padding: 73px 45px 80px 60px;
  color: #fff;
  background: #00c8e6;
}

.features_item + .features_item {
  border-left: 1px solid #fff;
}

.features_item:nth-child(even) {
  background: #04091e;
}

.features_item h3 {
  margin-bottom: 20px;
}

.features_item p {
  padding-bottom: 25px;
}

/*========== sermons_work_area css ===========*/
.sermons_work_area {
  background: #f9f9ff;
}

.sermons_slider .sermons_image p {
  margin-bottom: 0px;
  margin-top: 25px;
}

.sermons_slider .sermons_content {
  padding-right: 30px;
}

.sermons_slider .owl-dots {
  text-align: right;
  position: absolute;
  right: 290px;
  bottom: 0;
}

.sermons_slider .owl-dots .owl-dot {
  width: 14px;
  height: 14px;
  background: #eeeeee;
  display: inline-block;
  margin: 0px 5px;
}

.sermons_slider .owl-dots .owl-dot.active {
  background: #00c8e6;
}

.sermons_category {
  padding: 10px 0px 30px;
}

.sermons_category li {
  font-size: 14px;
  padding-bottom: 5px;
}

.sermons_category li span {
  color: #222222;
  font-weight: 400;
}

.sermons_category li a {
  color: #00c8e6;
}

.sermons_category li i {
  padding-right: 10px;
  color: #222222;
  font-weight: 500;
}

/*============ donate_area css ===============*/
.donate_area {
  background: -webkit-gradient(linear, left top, right top, from(rgba(4, 9, 30, 0.8)), to(rgba(4, 9, 30, 0.8))), url("../image/donate.jpg");
  background: -webkit-linear-gradient(left, rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url("../image/donate.jpg");
  background: -o-linear-gradient(left, rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url("../image/donate.jpg");
  background: linear-gradient(to right, rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url("../image/donate.jpg");
  padding: 110px 0px;
  background-size: cover;
}

.donate_content h2 {
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  color: #fff;
  padding-bottom: 20px;
}

.donate_content p {
  color: #fff;
  margin-bottom: 0px;
}

.donation_form {
  text-align: center;
  background: #fff;
  padding: 40px 25px 50px;
}

.donation_form h3 {
  font-size: 18px;
  color: #222222;
  padding-bottom: 24px;
}

.donation_form .form-group {
  padding: 0px 5px;
  width: calc(100% / 4);
  float: left;
}

.donation_form .form-group .form-control, .donation_form .form-group select {
  border: 1px solid #eeeeee;
  border-radius: 0px;
  font-size: 13px;
  line-height: 40px;
  padding-left: 20px;
  height: 40px;
  width: 100%;
}

.donation_form .form-group .form-control.placeholder, .donation_form .form-group select.placeholder {
  color: #777;
}

.donation_form .form-group .form-control:-moz-placeholder, .donation_form .form-group select:-moz-placeholder {
  color: #777;
}

.donation_form .form-group .form-control::-moz-placeholder, .donation_form .form-group select::-moz-placeholder {
  color: #777;
}

.donation_form .form-group .form-control::-webkit-input-placeholder, .donation_form .form-group select::-webkit-input-placeholder {
  color: #777;
}

.donation_form .btn_hover_two {
  margin-top: 15px;
}

/*========== event_blog_area css ==========*/
.event_title {
  font-size: 24px;
  line-height: 30px;
  color: #222222;
  font-weight: 600;
  padding-top: 20px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.event_title:hover {
  color: #00c8e6;
}

.event_post img {
  max-width: 100%;
}

.event_post .event_category {
  padding-bottom: 20px;
}

.event_category li {
  padding-bottom: 8px;
}

.event_category li i {
  font-weight: 600;
  color: #222222;
}

.ministries_info {
  margin-bottom: -44px;
}

.ministries_info .event_post {
  margin-bottom: 44px;
}

.ministries_info .event_post p {
  padding-right: 50px;
  padding-top: 10px;
}

/*========== event_two css ==========*/
.event_two {
  margin-bottom: -50px;
}

.event_two .event_post {
  margin-bottom: 50px;
}

/*============ event_details_area css ==========*/
.event_details_area .event_category {
  padding: 0px;
}

.event_details {
  padding-top: 16px;
}

.event_details p {
  margin-top: 24px;
  margin-bottom: 0px;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*============ banner_area css =============*/
.banner_area {
  min-height: 680px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(4, 9, 30, 0.8)), to(rgba(4, 9, 30, 0.8))), url("../image/banner.jpg");
  background: -webkit-linear-gradient(left, rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url("../image/banner.jpg");
  background: -o-linear-gradient(left, rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url("../image/banner.jpg");
  background: linear-gradient(to right, rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url("../image/banner.jpg");
  background-size: cover;
}

.banner_content {
  color: #fff;
}

.banner_content h6 {
  font-size: 14px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  font-weight: 400;
}

.banner_content h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  padding: 8px 0px 20px;
}

.banner_content .btn_hover_two {
  margin-top: 25px;
}

/*=============Blog Banner css =============*/
.blog_banner {
  min-height: 680px;
  overflow: hidden;
  position: relative;
  background: #04091e !important;
  background-image: transparent !important;
  z-index: 1;
}

.blog_banner .bg-parallax {
  background: url(../image/banner-1.jpg) no-repeat scroll 100% 10%/cover;
}

.blog_banner .banner_content {
  margin-bottom: 0px;
  margin-top: 10px;
}

.blog_banner .banner_content h4 {
  font-size: 60px;
  line-height: 66px;
  font-weight: bold;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.blog_banner .banner_content p {
  font-size: 16px;
  padding: 0px;
  margin-bottom: 35px;
}

.blog_banner .banner_content .btn_hover {
  border-radius: 0px;
  background: #fff;
  border-color: #fff;
}

.blog_banner .banner_content .btn_hover:hover {
  background: #00c8e6;
  border-color: #00c8e6;
  color: #fff;
}

.f_48 {
  font-size: 48px;
  line-height: 60px;
  font-weight: 700;
}

.bg-parallax {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  top: 0;
  height: 125%;
  z-index: -1;
  opacity: 0.50;
}

.blog_banner_two {
  padding: 187px 0px 104px;
  background: #04091e;
}

.blog_banner_two .bg-parallax {
  background: url(../image/blog/banner-2.jpg) no-repeat scroll center top/cover;
}

/*=============End Blog Banner css =============*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*=========== breadcrumb_area css =============*/
.breadcrumb_area {
  position: relative;
  padding: 110px 0px 90px;
  background: #04091e;
  z-index: 1;
  overflow: hidden;
}

.br_image {
  background: -webkit-linear-gradient(left, rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url("../image/breadcrumb.jpg");
  background: -o-linear-gradient(left, rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url("../image/breadcrumb.jpg");
  background: -webkit-gradient(linear, left top, right top, from(rgba(4, 9, 30, 0.8)), to(rgba(4, 9, 30, 0.8))), url("../image/breadcrumb.jpg");
  background: linear-gradient(to right, rgba(4, 9, 30, 0.8), rgba(4, 9, 30, 0.8)), url("../image/breadcrumb.jpg");
}

.page-cover-tittle {
  display: block;
  font-size: 48px;
  line-height: 55px;
  font-weight: 700;
  color: #fff;
}

.breadcrumb {
  text-align: center;
  background: transparent;
  padding: 0px;
  display: inline-block;
}

.breadcrumb li {
  display: inline-block;
  color: #fff;
}

.breadcrumb li a {
  color: #fff;
}

.breadcrumb li + li:before {
  content: "\e87a";
  font-family: 'Linearicons-Free';
  font-size: 14px;
  font-weight: 600;
  vertical-align: middle;
  margin: 0px 10px 0px 7px;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*========== team_area css ===========*/
.team_item {
  text-align: center;
  margin-bottom: 30px;
}

.team_item .team_img {
  position: relative;
  z-index: 1;
}

.team_item .team_img:before {
  content: "";
  top: 0;
  left: 0;
  background: #00c8e6;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  -webkit-transition: color 0.3s, all 0.3s linear;
  -o-transition: color 0.3s, all 0.3s linear;
  transition: color 0.3s, all 0.3s linear;
  z-index: 0;
}

.team_item .team_img img {
  max-width: 100%;
}

.team_item .team_img ul {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
  opacity: 0;
  margin-top: 10px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.team_item .team_img ul li {
  display: inline-block;
  margin: 0px 7px;
}

.team_item .team_img ul li a {
  font-size: 14px;
  color: #fff;
  opacity: 0.30;
}

.team_item .team_img ul li a:hover {
  opacity: 1;
}

.team_item .content {
  padding-top: 28px;
}

.team_item .content h3 {
  font-size: 18px;
  line-height: 22px;
  color: #222222;
  margin-bottom: 0px;
}

.team_item .content p {
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0px;
}

.team_item:hover .team_img:before {
  opacity: 0.75;
}

.team_item:hover .team_img ul {
  margin-top: 0px;
  opacity: 1;
}

/*============= gallery area css ==============*/
.gallery_item {
  margin-bottom: 30px;
}

.gallery_item img {
  max-width: 100%;
}

.gallery_item .gallery_img {
  position: relative;
}

.gallery_item .gallery_img .hover {
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  text-align: center;
  font-size: 24px;
  height: 100%;
  color: #fff;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
}

.gallery_item .gallery_img .hover i {
  position: absolute;
  left: 0px;
  top: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
}

.gallery_item .gallery_img:hover .hover {
  opacity: 1;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*================= latest_blog_area css =============*/
.single-recent-blog-post {
  margin-bottom: 30px;
}

.single-recent-blog-post .thumb {
  overflow: hidden;
}

.single-recent-blog-post .thumb img {
  -webkit-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  transition: all 0.7s linear;
}

.single-recent-blog-post .details {
  padding-top: 30px;
}

.single-recent-blog-post .details .sec_h4 {
  line-height: 24px;
  padding: 10px 0px 13px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.single-recent-blog-post .details .sec_h4:hover {
  color: #00c8e6;
}

.single-recent-blog-post .date {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.single-recent-blog-post:hover img {
  -webkit-transform: scale(1.23) rotate(10deg);
  -ms-transform: scale(1.23) rotate(10deg);
  transform: scale(1.23) rotate(10deg);
}

.tags .tag_btn {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid #eeeeee;
  display: inline-block;
  padding: 1px 18px;
  text-align: center;
  color: #222222;
}

.tags .tag_btn:before {
  background: #00c8e6;
}

.tags .tag_btn + .tag_btn {
  margin-left: 2px;
}

/*========= blog_categorie_area css ===========*/
.blog_categorie_area {
  background: #f9f9ff;
  padding-top: 80px;
}

.categories_post {
  position: relative;
  text-align: center;
  cursor: pointer;
}

.categories_post img {
  max-width: 100%;
}

.categories_post .categories_details {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: rgba(34, 34, 34, 0.8);
  color: #fff;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.categories_post .categories_details h5 {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
}

.categories_post .categories_details p {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 0px;
}

.categories_post .categories_details .border_line {
  margin: 10px 0px;
  background: #fff;
}

.categories_post:hover .categories_details {
  background: rgba(0, 200, 230, 0.85);
}

/*============ blog_left_sidebar css ==============*/
.blog_area {
  background: #f9f9ff;
  padding-top: 80px;
}

.blog_item {
  margin-bottom: 40px;
}

.blog_info {
  padding-top: 30px;
}

.blog_info .post_tag {
  padding-bottom: 20px;
}

.blog_info .post_tag a {
  font: 300 14px/21px "Poppins", sans-serif;
  color: #222222;
}

.blog_info .post_tag a:hover {
  color: #00c8e6;
}

.blog_info .blog_meta li a {
  font: 300 14px/20px "Poppins", sans-serif;
  color: #777777;
  vertical-align: middle;
  padding-bottom: 12px;
  display: inline-block;
}

.blog_info .blog_meta li a i {
  color: #222222;
  font-size: 16px;
  font-weight: 600;
  padding-left: 15px;
  line-height: 20px;
  vertical-align: middle;
}

.blog_info .blog_meta li a:hover {
  color: #00c8e6;
}

.blog_post img {
  max-width: 100%;
}

.blog_post .view_btn:hover {
  background: #00c8e6;
  color: #fff;
}

.blog_details {
  padding-top: 20px;
}

.blog_details h2 {
  font-size: 24px;
  line-height: 36px;
  color: #222222;
  font-weight: 600;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.blog_details h2:hover {
  color: #00c8e6;
}

.blog_details p {
  margin-bottom: 26px;
}

.view_btn {
  font-size: 14px;
  line-height: 36px;
  display: inline-block;
  color: #222222;
  font-weight: 500;
  padding: 0px 30px;
  background: #fff;
}

.blog_right_sidebar {
  border: 1px solid #eeeeee;
  padding: 30px;
}

.blog_right_sidebar .widget_title {
  font-size: 18px;
  line-height: 25px;
  background: #00c8e6;
  text-align: center;
  color: #fff;
  padding: 8px 0px;
  margin-bottom: 30px;
}

.blog_right_sidebar .search_widget .input-group .form-control {
  font-size: 14px;
  line-height: 29px;
  border: 0px;
  width: 100%;
  font-weight: 300;
  color: #fff;
  padding-left: 20px;
  border-radius: 45px;
  z-index: 0;
  background: #00c8e6;
}

.blog_right_sidebar .search_widget .input-group .form-control.placeholder {
  color: #fff;
}

.blog_right_sidebar .search_widget .input-group .form-control:-moz-placeholder {
  color: #fff;
}

.blog_right_sidebar .search_widget .input-group .form-control::-moz-placeholder {
  color: #fff;
}

.blog_right_sidebar .search_widget .input-group .form-control::-webkit-input-placeholder {
  color: #fff;
}

.blog_right_sidebar .search_widget .input-group .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.blog_right_sidebar .search_widget .input-group .btn-default {
  position: absolute;
  right: 20px;
  background: transparent;
  border: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  color: #fff;
  padding: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.blog_right_sidebar .author_widget {
  text-align: center;
}

.blog_right_sidebar .author_widget h4 {
  font-size: 18px;
  line-height: 20px;
  color: #222222;
  margin-bottom: 0px;
}

.blog_right_sidebar .author_widget p {
  margin-bottom: 0px;
}

.blog_right_sidebar .author_widget .social_icon {
  padding: 7px 0px 15px;
}

.blog_right_sidebar .author_widget .social_icon a {
  font-size: 14px;
  color: #222222;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.blog_right_sidebar .author_widget .social_icon a + a {
  margin-left: 20px;
}

.blog_right_sidebar .author_widget .social_icon a:hover {
  color: #00c8e6;
}

.blog_right_sidebar .popular_post_widget .post_item .media-body {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-item-align: center;
  align-self: center;
  padding-left: 20px;
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
  font-size: 14px;
  line-height: 20px;
  color: #222222;
  margin-bottom: 4px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.blog_right_sidebar .popular_post_widget .post_item .media-body h3:hover {
  color: #00c8e6;
}

.blog_right_sidebar .popular_post_widget .post_item .media-body p {
  font-size: 12px;
  line-height: 21px;
  margin-bottom: 0px;
}

.blog_right_sidebar .popular_post_widget .post_item + .post_item {
  margin-top: 20px;
}

.blog_right_sidebar .post_category_widget .cat-list li {
  border-bottom: 2px dotted #eee;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-bottom: 12px;
}

.blog_right_sidebar .post_category_widget .cat-list li a {
  font-size: 14px;
  line-height: 20px;
  color: #777;
}

.blog_right_sidebar .post_category_widget .cat-list li a p {
  margin-bottom: 0px;
}

.blog_right_sidebar .post_category_widget .cat-list li + li {
  padding-top: 15px;
}

.blog_right_sidebar .post_category_widget .cat-list li:hover {
  border-color: #00c8e6;
}

.blog_right_sidebar .post_category_widget .cat-list li:hover a {
  color: #00c8e6;
}

.blog_right_sidebar .newsletter_widget {
  text-align: center;
}

.blog_right_sidebar .newsletter_widget .form-group {
  margin-bottom: 8px;
}

.blog_right_sidebar .newsletter_widget .input-group-prepend {
  margin-right: -1px;
}

.blog_right_sidebar .newsletter_widget .input-group-text {
  background: #fff;
  border-radius: 0px;
  vertical-align: top;
  font-size: 12px;
  line-height: 36px;
  padding: 0px 0px 0px 15px;
  border: 1px solid #eeeeee;
  border-right: 0px;
}

.blog_right_sidebar .newsletter_widget .form-control {
  font-size: 12px;
  line-height: 24px;
  color: #cccccc;
  border: 1px solid #eeeeee;
  border-left: 0px;
}

.blog_right_sidebar .newsletter_widget .form-control.placeholder {
  color: #cccccc;
}

.blog_right_sidebar .newsletter_widget .form-control:-moz-placeholder {
  color: #cccccc;
}

.blog_right_sidebar .newsletter_widget .form-control::-moz-placeholder {
  color: #cccccc;
}

.blog_right_sidebar .newsletter_widget .form-control::-webkit-input-placeholder {
  color: #cccccc;
}

.blog_right_sidebar .newsletter_widget .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.blog_right_sidebar .newsletter_widget .bbtns {
  background: #00c8e6;
  color: #fff;
  font-size: 12px;
  line-height: 38px;
  display: inline-block;
  font-weight: 500;
  padding: 0px 24px 0px 24px;
  border-radius: 0;
}

.blog_right_sidebar .newsletter_widget .text-bottom {
  font-size: 12px;
}

.blog_right_sidebar .tag_cloud_widget ul li {
  display: inline-block;
}

.blog_right_sidebar .tag_cloud_widget ul li a {
  display: inline-block;
  border: 1px solid #eee;
  background: #fff;
  padding: 0px 13px;
  margin-bottom: 8px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #222222;
  font-size: 12px;
}

.blog_right_sidebar .tag_cloud_widget ul li a:hover {
  background: #00c8e6;
  color: #fff;
}

.blog_right_sidebar .br {
  width: 100%;
  height: 1px;
  background: #eeeeee;
  margin: 30px 0px;
}

.blog-pagination {
  padding-top: 25px;
  padding-bottom: 95px;
}

.blog-pagination .page-link {
  border-radius: 0;
}

.blog-pagination .page-item {
  border: none;
}

.page-link {
  background: transparent;
  font-weight: 400;
}

.blog-pagination .page-item.active .page-link {
  background-color: #00c8e6;
  border-color: transparent;
  color: #fff;
}

.blog-pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #8a8a8a;
  border: none;
}

.blog-pagination .page-link .lnr {
  font-weight: 600;
}

.blog-pagination .page-item:last-child .page-link,
.blog-pagination .page-item:first-child .page-link {
  border-radius: 0;
}

.blog-pagination .page-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #00c8e6;
  border-color: #eee;
}

/*============ Start Blog Single Styles  =============*/
.single-post-area {
  padding-top: 80px;
  padding-bottom: 80px;
}

.single-post-area .social-links {
  padding-top: 10px;
}

.single-post-area .social-links li {
  display: inline-block;
  margin-bottom: 10px;
}

.single-post-area .social-links li a {
  color: #cccccc;
  padding: 7px;
  font-size: 14px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.single-post-area .social-links li a:hover {
  color: #222222;
}

.single-post-area .blog_details {
  padding-top: 26px;
}

.single-post-area .blog_details p {
  margin-bottom: 10px;
}

.single-post-area .quotes {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 24px 35px 24px 30px;
  background-color: white;
  -webkit-box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
  box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
  font-size: 14px;
  line-height: 24px;
  color: #777;
  font-style: italic;
}

.single-post-area .arrow {
  position: absolute;
}

.single-post-area .arrow .lnr {
  font-size: 20px;
  font-weight: 600;
}

.single-post-area .thumb .overlay-bg {
  background: rgba(0, 0, 0, 0.8);
}

.single-post-area .navigation-area {
  border-top: 1px solid #eee;
  padding-top: 30px;
  margin-top: 60px;
}

.single-post-area .navigation-area p {
  margin-bottom: 0px;
}

.single-post-area .navigation-area h4 {
  font-size: 18px;
  line-height: 25px;
  color: #222222;
  font-weight: 600;
}

.single-post-area .navigation-area .nav-left {
  text-align: left;
}

.single-post-area .navigation-area .nav-left .thumb {
  margin-right: 20px;
  background: #000;
}

.single-post-area .navigation-area .nav-left .thumb img {
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.single-post-area .navigation-area .nav-left .lnr {
  margin-left: 20px;
  opacity: 0;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.single-post-area .navigation-area .nav-left:hover .lnr {
  opacity: 1;
}

.single-post-area .navigation-area .nav-left:hover .thumb img {
  opacity: .5;
}

@media (max-width: 767px) {
  .single-post-area .navigation-area .nav-left {
    margin-bottom: 30px;
  }
}

.single-post-area .navigation-area .nav-right {
  text-align: right;
}

.single-post-area .navigation-area .nav-right .thumb {
  margin-left: 20px;
  background: #000;
}

.single-post-area .navigation-area .nav-right .thumb img {
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.single-post-area .navigation-area .nav-right .lnr {
  margin-right: 20px;
  opacity: 0;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.single-post-area .navigation-area .nav-right:hover .lnr {
  opacity: 1;
}

.single-post-area .navigation-area .nav-right:hover .thumb img {
  opacity: .5;
}

@media (max-width: 991px) {
  .single-post-area .sidebar-widgets {
    padding-bottom: 0px;
  }
}

.comments-area {
  background: #fafaff;
  border: 1px solid #eee;
  padding: 50px 30px;
  margin-top: 50px;
}

@media (max-width: 414px) {
  .comments-area {
    padding: 50px 8px;
  }
}

.comments-area h4 {
  text-align: center;
  margin-bottom: 50px;
  color: #222222;
  font-size: 18px;
}

.comments-area h5 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
}

.comments-area a {
  color: #222222;
}

.comments-area .comment-list {
  padding-bottom: 48px;
}

.comments-area .comment-list:last-child {
  padding-bottom: 0px;
}

.comments-area .comment-list.left-padding {
  padding-left: 25px;
}

@media (max-width: 413px) {
  .comments-area .comment-list .single-comment h5 {
    font-size: 12px;
  }
  .comments-area .comment-list .single-comment .date {
    font-size: 11px;
  }
  .comments-area .comment-list .single-comment .comment {
    font-size: 10px;
  }
}

.comments-area .thumb {
  margin-right: 20px;
}

.comments-area .date {
  font-size: 13px;
  color: #cccccc;
  margin-bottom: 13px;
}

.comments-area .comment {
  color: #777777;
  margin-bottom: 0px;
}

.comments-area .btn-reply {
  background-color: #fff;
  color: #222222;
  border: 1px solid #eee;
  padding: 2px 18px;
  font-size: 12px;
  display: block;
  font-weight: 600;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.comments-area .btn-reply:hover {
  background-color: #00c8e6;
  color: #fff;
}

.comment-form {
  background: #fafaff;
  text-align: center;
  border: 1px solid #eee;
  padding: 47px 30px 43px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.comment-form h4 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
  line-height: 22px;
  color: #222222;
}

.comment-form .name {
  padding-left: 0px;
}

@media (max-width: 767px) {
  .comment-form .name {
    padding-right: 0px;
    margin-bottom: 1rem;
  }
}

.comment-form .email {
  padding-right: 0px;
}

@media (max-width: 991px) {
  .comment-form .email {
    padding-left: 0px;
  }
}

.comment-form .form-control {
  padding: 8px 20px;
  background: #fff;
  border: none;
  border-radius: 0px;
  width: 100%;
  font-size: 14px;
  color: #777777;
  border: 1px solid transparent;
}

.comment-form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #eee;
}

.comment-form textarea.form-control {
  height: 140px;
}

.comment-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 13px;
  color: #777;
}

.comment-form ::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 13px;
  color: #777;
}

.comment-form :-ms-input-placeholder {
  /* IE 10+ */
  font-size: 13px;
  color: #777;
}

.comment-form :-moz-placeholder {
  /* Firefox 18- */
  font-size: 13px;
  color: #777;
}

.comment-form .primary-btn {
  border-radius: 0px !important;
  border: 1px solid transparent;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  background: #00c8e6;
  display: inline-block;
  padding: 7px 44px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.comment-form .primary-btn:before {
  background: #00c8e6;
}

.comment-form .primary-btn:hover {
  border-color: #00c8e6 !important;
  color: #fff  !important;
}

/*============ End Blog Single Styles  =============*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*============== contact_area css ================*/
.mapBox {
  height: 420px;
  margin-bottom: 80px;
}

.contact_info .info_item {
  position: relative;
  padding-left: 45px;
}

.contact_info .info_item i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
  line-height: 24px;
  color: #00c8e6;
  font-weight: 600;
}

.contact_info .info_item h6 {
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  font-weight: 300;
  margin-bottom: 0px;
}

.contact_info .info_item h6 a {
  color: #222222;
}

.contact_info .info_item p {
  font-size: 14px;
  line-height: 24px;
  padding: 2px 0px;
}

.contact_form .form-group {
  margin-bottom: 10px;
}

.contact_form .form-group .form-control {
  font-size: 13px;
  line-height: 26px;
  color: #999;
  border: 1px solid #eeeeee;
  font-family: "Poppins", sans-serif;
  border-radius: 0px;
  padding-left: 20px;
}

.contact_form .form-group .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.contact_form .form-group .form-control.placeholder {
  color: #999;
}

.contact_form .form-group .form-control:-moz-placeholder {
  color: #999;
}

.contact_form .form-group .form-control::-moz-placeholder {
  color: #999;
}

.contact_form .form-group .form-control::-webkit-input-placeholder {
  color: #999;
}

.contact_form .form-group textarea.form-control {
  height: 140px;
}

.contact_form .btn_hover_two {
  margin-top: 20px;
  cursor: pointer;
}

/* Contact Success and error Area css
============================================================================================ */
.modal-message .modal-dialog {
  position: absolute;
  top: 36%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) !important;
  -ms-transform: translateX(-50%) translateY(-50%) !important;
  transform: translateX(-50%) translateY(-50%) !important;
  margin: 0px;
  max-width: 500px;
  width: 100%;
}

.modal-message .modal-dialog .modal-content .modal-header {
  text-align: center;
  display: block;
  border-bottom: none;
  padding-top: 50px;
  padding-bottom: 50px;
}

.modal-message .modal-dialog .modal-content .modal-header .close {
  position: absolute;
  right: -15px;
  top: -15px;
  padding: 0px;
  color: #fff;
  opacity: 1;
  cursor: pointer;
}

.modal-message .modal-dialog .modal-content .modal-header h2 {
  display: block;
  text-align: center;
  color: #00c8e6;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.modal-message .modal-dialog .modal-content .modal-header p {
  display: block;
}

/* End Contact Success and error Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*============== Elements Area css ================*/
.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.sample-text-area {
  padding: 100px 0px;
  background: #f9f9ff;
}

.sample-text-area .title_color {
  margin-bottom: 30px;
}

.sample-text-area p {
  line-height: 26px;
}

.sample-text-area p b {
  font-weight: bold;
  color: #00c8e6;
}

.sample-text-area p i {
  color: #00c8e6;
  font-style: italic;
}

.sample-text-area p sup {
  color: #00c8e6;
  font-style: italic;
}

.sample-text-area p sub {
  color: #00c8e6;
  font-style: italic;
}

.sample-text-area p del {
  color: #00c8e6;
}

.sample-text-area p u {
  color: #00c8e6;
}

/*============== End Elements Area css ================*/
/*==============Elements Button Area css ================*/
.elements_button {
  background: #f9f9ff;
}

.elements_button .title_color {
  margin-bottom: 30px;
}

.button-group-area {
  margin-top: 15px;
}

.button-group-area:nth-child(odd) {
  margin-top: 40px;
}

.button-group-area:first-child {
  margin-top: 0px;
}

.button-group-area .theme_btn {
  margin-right: 10px;
}

.button-group-area .white_btn {
  margin-right: 10px;
}

.button-group-area .link {
  text-decoration: underline;
  color: #222222;
  background: transparent;
}

.button-group-area .link:hover {
  color: #fff;
}

.button-group-area .disable {
  background: transparent;
  color: #007bff;
  cursor: not-allowed;
}

.button-group-area .disable:before {
  display: none;
}

.primary {
  background: #52c5fd;
}

.primary:before {
  background: #2faae6;
}

.success {
  background: #4cd3e3;
}

.success:before {
  background: #2ebccd;
}

.info {
  background: #38a4ff;
}

.info:before {
  background: #298cdf;
}

.warning {
  background: #f4e700;
}

.warning:before {
  background: #e1d608;
}

.danger {
  background: #f54940;
}

.danger:before {
  background: #e13b33;
}

.primary-border {
  background: transparent;
  border: 1px solid #52c5fd;
  color: #52c5fd;
}

.primary-border:before {
  background: #52c5fd;
}

.success-border {
  background: transparent;
  border: 1px solid #4cd3e3;
  color: #4cd3e3;
}

.success-border:before {
  background: #4cd3e3;
}

.info-border {
  background: transparent;
  border: 1px solid #38a4ff;
  color: #38a4ff;
}

.info-border:before {
  background: #38a4ff;
}

.warning-border {
  background: #fff;
  border: 1px solid #f4e700;
  color: #f4e700;
}

.warning-border:before {
  background: #f4e700;
}

.danger-border {
  background: transparent;
  border: 1px solid #f54940;
  color: #f54940;
}

.danger-border:before {
  background: #f54940;
}

.link-border {
  background: transparent;
  border: 1px solid #00c8e6;
  color: #00c8e6;
}

.link-border:before {
  background: #00c8e6;
}

.radius {
  border-radius: 3px;
}

.circle {
  border-radius: 20px;
}

.arrow span {
  padding-left: 5px;
}

.e-large {
  line-height: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.large {
  line-height: 45px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.medium {
  line-height: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.small {
  line-height: 25px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.general {
  line-height: 38px;
  padding-top: 0px;
  padding-bottom: 0px;
}

/*==============End Elements Button Area css ================*/
/* =================================== */
/*  Elements Page Styles
/* =================================== */
/*---------- Start Elements Page -------------*/
.whole-wrap {
  background-color: #f9f9ff;
}

.generic-banner {
  margin-top: 60px;
  background-color: #f8b600;
  text-align: center;
}

.generic-banner .height {
  height: 600px;
}

@media (max-width: 767.98px) {
  .generic-banner .height {
    height: 400px;
  }
}

.generic-banner .generic-banner-content h2 {
  line-height: 1.2em;
  margin-bottom: 20px;
}

@media (max-width: 991.98px) {
  .generic-banner .generic-banner-content h2 br {
    display: none;
  }
}

.generic-banner .generic-banner-content p {
  text-align: center;
  font-size: 16px;
}

@media (max-width: 991.98px) {
  .generic-banner .generic-banner-content p br {
    display: none;
  }
}

.generic-content h1 {
  font-weight: 600;
}

.about-generic-area {
  background: #fff;
}

.about-generic-area p {
  margin-bottom: 20px;
}

.white-bg {
  background: #fff;
}

.section-top-border {
  padding: 50px 0;
  border-top: 1px dotted #eee;
}

.switch-wrap {
  margin-bottom: 10px;
}

.switch-wrap p {
  margin: 0;
}

/*---------- End Elements Page -------------*/
.sample-text-area {
  background: #f9f9ff;
  padding: 100px 0 70px 0;
}

.sample-text {
  margin-bottom: 0;
}

.text-heading {
  margin-bottom: 30px;
  font-size: 24px;
}

.typo-list {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .typo-sec {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .element-wrap {
    margin-top: 30px;
  }
}

b, sup, sub, u, del {
  color: #f8b600;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}

.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
  color: #777777;
}

.button-area {
  background: #f9f9ff;
}

.button-area .border-top-generic {
  padding: 70px 15px;
  border-top: 1px dotted #eee;
}

.button-group-area .genric-btn {
  margin-right: 10px;
  margin-top: 10px;
}

.button-group-area .genric-btn:last-child {
  margin-right: 0;
}

.circle {
  border-radius: 20px;
}

.genric-btn {
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  font-size: .8em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.genric-btn:focus {
  outline: none;
}

.genric-btn.e-large {
  padding: 0 40px;
  line-height: 50px;
}

.genric-btn.large {
  line-height: 45px;
}

.genric-btn.medium {
  line-height: 30px;
}

.genric-btn.small {
  line-height: 25px;
}

.genric-btn.radius {
  border-radius: 3px;
}

.genric-btn.circle {
  border-radius: 20px;
}

.genric-btn.arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.genric-btn.arrow span {
  margin-left: 10px;
}

.genric-btn.default {
  color: #222222;
  background: #f9f9ff;
  border: 1px solid transparent;
}

.genric-btn.default:hover {
  border: 1px solid #f9f9ff;
  background: #fff;
}

.genric-btn.default-border {
  border: 1px solid #f9f9ff;
  background: #fff;
}

.genric-btn.default-border:hover {
  color: #222222;
  background: #f9f9ff;
  border: 1px solid transparent;
}

.genric-btn.primary {
  color: #fff;
  background: #00c8e6;
  border: 1px solid transparent;
}

.genric-btn.primary:hover {
  color: #00c8e6;
  border: 1px solid #00c8e6;
  background: #fff;
}

.genric-btn.primary-border {
  color: #00c8e6;
  border: 1px solid #00c8e6;
  background: #fff;
}

.genric-btn.primary-border:hover {
  color: #fff;
  background: #00c8e6;
  border: 1px solid transparent;
}

.genric-btn.success {
  color: #fff;
  background: #4cd3e3;
  border: 1px solid transparent;
}

.genric-btn.success:hover {
  color: #4cd3e3;
  border: 1px solid #4cd3e3;
  background: #fff;
}

.genric-btn.success-border {
  color: #4cd3e3;
  border: 1px solid #4cd3e3;
  background: #fff;
}

.genric-btn.success-border:hover {
  color: #fff;
  background: #4cd3e3;
  border: 1px solid transparent;
}

.genric-btn.info {
  color: #fff;
  background: #38a4ff;
  border: 1px solid transparent;
}

.genric-btn.info:hover {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff;
}

.genric-btn.info-border {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff;
}

.genric-btn.info-border:hover {
  color: #fff;
  background: #38a4ff;
  border: 1px solid transparent;
}

.genric-btn.warning {
  color: #fff;
  background: #f4e700;
  border: 1px solid transparent;
}

.genric-btn.warning:hover {
  color: #f4e700;
  border: 1px solid #f4e700;
  background: #fff;
}

.genric-btn.warning-border {
  color: #f4e700;
  border: 1px solid #f4e700;
  background: #fff;
}

.genric-btn.warning-border:hover {
  color: #fff;
  background: #f4e700;
  border: 1px solid transparent;
}

.genric-btn.danger {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent;
}

.genric-btn.danger:hover {
  color: #f44a40;
  border: 1px solid #f44a40;
  background: #fff;
}

.genric-btn.danger-border {
  color: #f44a40;
  border: 1px solid #f44a40;
  background: #fff;
}

.genric-btn.danger-border:hover {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent;
}

.genric-btn.link {
  color: #222222;
  background: #f9f9ff;
  text-decoration: underline;
  border: 1px solid transparent;
}

.genric-btn.link:hover {
  color: #222222;
  border: 1px solid #f9f9ff;
  background: #fff;
}

.genric-btn.link-border {
  color: #222222;
  border: 1px solid #f9f9ff;
  background: #fff;
  text-decoration: underline;
}

.genric-btn.link-border:hover {
  color: #222222;
  background: #f9f9ff;
  border: 1px solid transparent;
}

.genric-btn.disable {
  color: #222222, 0.3;
  background: #f9f9ff;
  border: 1px solid transparent;
  cursor: not-allowed;
}

.generic-blockquote {
  padding: 30px 50px 30px 30px;
  background: #fff;
  border-left: 2px solid #00c8e6;
}

@media (max-width: 991px) {
  .progress-table-wrap {
    overflow-x: scroll;
  }
}

.progress-table {
  background: #fff;
  padding: 15px 0px 30px 0px;
  min-width: 800px;
}

.progress-table .serial {
  width: 11.83%;
  padding-left: 30px;
}

.progress-table .country {
  width: 28.07%;
}

.progress-table .visit {
  width: 19.74%;
}

.progress-table .percentage {
  width: 40.36%;
  padding-right: 50px;
}

.progress-table .table-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress-table .table-head .serial, .progress-table .table-head .country, .progress-table .table-head .visit, .progress-table .table-head .percentage {
  color: #222222;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500;
}

.progress-table .table-row {
  padding: 15px 0;
  border-top: 1px solid #edf3fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress-table .table-row .serial, .progress-table .table-row .country, .progress-table .table-row .visit, .progress-table .table-row .percentage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.progress-table .table-row .country img {
  margin-right: 15px;
}

.progress-table .table-row .percentage .progress {
  width: 80%;
  border-radius: 0px;
  background: transparent;
}

.progress-table .table-row .percentage .progress .progress-bar {
  height: 5px;
  line-height: 5px;
}

.progress-table .table-row .percentage .progress .progress-bar.color-1 {
  background-color: #6382e6;
}

.progress-table .table-row .percentage .progress .progress-bar.color-2 {
  background-color: #e66686;
}

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
  background-color: #f09359;
}

.progress-table .table-row .percentage .progress .progress-bar.color-4 {
  background-color: #73fbaf;
}

.progress-table .table-row .percentage .progress .progress-bar.color-5 {
  background-color: #73fbaf;
}

.progress-table .table-row .percentage .progress .progress-bar.color-6 {
  background-color: #6382e6;
}

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
  background-color: #a367e7;
}

.progress-table .table-row .percentage .progress .progress-bar.color-8 {
  background-color: #e66686;
}

.single-gallery-image {
  margin-top: 30px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 200px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-gallery-image:hover {
  opacity: .8;
}

.list-style {
  width: 14px;
  height: 14px;
}

.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em !important;
}

.unordered-list li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #00c8e6;
  background: #fff;
  top: 4px;
  left: 0;
  border-radius: 50%;
}

.ordered-list {
  margin-left: 30px;
}

.ordered-list li {
  list-style-type: decimal-leading-zero;
  color: #00c8e6;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list li span {
  font-weight: 300;
  color: #777777;
}

.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #00c8e6;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list-alpha li span {
  font-weight: 300;
  color: #777777;
}

.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #00c8e6;
  font-weight: 500;
  line-height: 1.82em !important;
}

.ordered-list-roman li span {
  font-weight: 300;
  color: #777777;
}

.single-input {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #fff;
  padding: 0 20px;
}

.single-input:focus {
  outline: none;
}

.input-group-icon {
  position: relative;
}

.input-group-icon .icon {
  position: absolute;
  left: 20px;
  top: 0;
  line-height: 40px;
  z-index: 3;
}

.input-group-icon .icon i {
  color: #797979;
}

.input-group-icon .single-input {
  padding-left: 45px;
}

.single-textarea {
  display: block;
  width: 100%;
  line-height: 40px;
  border: none;
  outline: none;
  background: #fff;
  padding: 0 20px;
  height: 100px;
  resize: none;
}

.single-textarea:focus {
  outline: none;
}

.single-input-primary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #fff;
  padding: 0 20px;
}

.single-input-primary:focus {
  outline: none;
  border: 1px solid #00c8e6;
}

.single-input-accent {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #fff;
  padding: 0 20px;
}

.single-input-accent:focus {
  outline: none;
  border: 1px solid #eb6b55;
}

.single-input-secondary {
  display: block;
  width: 100%;
  line-height: 40px;
  border: 1px solid transparent;
  outline: none;
  background: #fff;
  padding: 0 20px;
}

.single-input-secondary:focus {
  outline: none;
  border: 1px solid #00c8e6;
}

.default-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

.default-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.default-switch input + label {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00c8e6;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.default-switch input:checked + label {
  left: 19px;
}

.single-element-widget {
  margin-bottom: 30px;
}

.primary-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

.primary-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.primary-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.primary-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.primary-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.primary-switch input:checked + label:after {
  left: 19px;
}

.primary-switch input:checked + label:before {
  background: #f8b600;
}

.confirm-switch {
  width: 35px;
  height: 17px;
  border-radius: 8.5px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

.confirm-switch input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.confirm-switch input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.confirm-switch input + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 8.5px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.confirm-switch input + label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.confirm-switch input:checked + label:after {
  left: 19px;
}

.confirm-switch input:checked + label:before {
  background: #4cd3e3;
}

.primary-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

.primary-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.primary-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.primary-checkbox input:checked + label {
  background: url(../image/elements/primary-check.png) no-repeat center center/cover;
  border: none;
}

.confirm-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

.confirm-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.confirm-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.confirm-checkbox input:checked + label {
  background: url(../image/elements/success-check.png) no-repeat center center/cover;
  border: none;
}

.disabled-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

.disabled-checkbox input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.disabled-checkbox input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.disabled-checkbox input:disabled {
  cursor: not-allowed;
  z-index: 3;
}

.disabled-checkbox input:checked + label {
  background: url(../image/elements/disabled-check.png) no-repeat center center/cover;
  border: none;
}

.primary-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

.primary-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.primary-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.primary-radio input:checked + label {
  background: url(../image/elements/primary-radio.png) no-repeat center center/cover;
  border: none;
}

.confirm-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

.confirm-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.confirm-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.confirm-radio input:checked + label {
  background: url(../image/elements/success-radio.png) no-repeat center center/cover;
  border: none;
}

.disabled-radio {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  position: relative;
  cursor: pointer;
}

.disabled-radio input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.disabled-radio input + label {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.disabled-radio input:disabled {
  cursor: not-allowed;
  z-index: 3;
}

.unordered-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.ordered-list {
  list-style: none;
  padding: 0px;
}

.disabled-radio input:checked + label {
  background: url(../image/elements/disabled-radio.png) no-repeat center center/cover;
  border: none;
}

.default-select {
  height: 40px;
}

.default-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #fff;
  padding-left: 20px;
  padding-right: 40px;
}

.default-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px;
}

.default-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 20px;
}

.default-select .nice-select .list .option.selected {
  color: #00c8e6;
  background: transparent;
}

.default-select .nice-select .list .option:hover {
  color: #00c8e6;
  background: transparent;
}

.default-select .current {
  margin-right: 50px;
  font-weight: 300;
}

.default-select .nice-select::after {
  right: 20px;
}

@media (max-width: 991px) {
  .left-align-p p {
    margin-top: 20px;
  }
}

.form-select {
  height: 40px;
  width: 100%;
}

.form-select .nice-select {
  border: none;
  border-radius: 0px;
  height: 40px;
  background: #fff !important;
  padding-left: 45px;
  padding-right: 40px;
  width: 100%;
}

.form-select .nice-select .list {
  margin-top: 0;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
  padding: 10px 0 10px 0px;
}

.mt-10 {
  margin-top: 10px;
}

.form-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 45px;
}

.form-select .nice-select .list .option.selected {
  color: #00c8e6;
  background: transparent;
}

.form-select .nice-select .list .option:hover {
  color: #00c8e6;
  background: transparent;
}

.form-select .current {
  margin-right: 50px;
  font-weight: 300;
}

.form-select .nice-select::after {
  right: 20px;
}

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*============== footer-area css ===============*/
.footer-area {
  background: #04091e;
  padding: 142px 0px;
}

.single-footer-widget p {
  margin-bottom: 0px;
}

.single-footer-widget ul li a {
  line-height: 25px;
  display: inline-block;
  color: #777;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-bottom: 13px;
}

.single-footer-widget ul li a:hover {
  color: #00c8e6;
}

.single-footer-widget .instafeed {
  margin-left: -5px;
  margin-right: -5px;
}

.single-footer-widget .instafeed li {
  margin: 5px;
}

.single-footer-widget .subscribe_form {
  padding-top: 25px;
}

.single-footer-widget .input-group {
  display: block !important;
}

.single-footer-widget input {
  width: 100%;
  border: 1px solid #333333;
  font-size: 13px;
  line-height: 30px;
  padding-right: 40px;
  height: 40px;
  color: #999999;
  background: transparent;
  padding-left: 20px;
}

.single-footer-widget input.placeholder {
  color: #999999;
}

.single-footer-widget input:-moz-placeholder {
  color: #999999;
}

.single-footer-widget input::-moz-placeholder {
  color: #999999;
}

.single-footer-widget input::-webkit-input-placeholder {
  color: #999999;
}

.single-footer-widget input:focus {
  outline: none;
}

.single-footer-widget .sub-btn {
  background: #00c8e6;
  color: #fff;
  font-weight: 300;
  border-radius: 0;
  line-height: 34px;
  padding: 4px 11px 0px;
  cursor: pointer;
  position: absolute;
  right: 0px;
  top: 0px;
}

.footer_title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.border_line {
  width: 100%;
  height: 1px;
  background: #333333;
  margin-top: 30px;
}

.footer-bottom {
  padding-top: 46px;
}

.footer-bottom .footer-text a {
  color: #00c8e6;
}

.footer-bottom .footer-social {
  text-align: right;
}

.footer-bottom .footer-social a {
  font-size: 18px;
  line-height: 30px;
  color: #82848f;
  margin-left: 25px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer-bottom .footer-social a:hover {
  color: #00c8e6;
}

/*---------------------------------------------------- */

/*# sourceMappingURL=style.css.map */

.quickNav {
	margin: 0;
	padding: 0;
	list-style: none;
	position: fixed;
	right: 58px;
	bottom: 10px;
	z-index: 3000
}

@media only all and (min-width: 1900px) {
	.quickNav {
		right: 58px;
		bottom: 34px
	}
	.quickNav li {
		margin: 0 3px
	}
	.quickNav a {
		width: 162px;
		height: 40px;
		line-height: 38px;
		border-radius: 20px
	}
}

@media only all and (max-width: 900px) {
	.quickNav {
		right: 36px
	}
}

@media only all and (max-width: 768px) {
	.quickNav {
		display: none
	}
}
.media > .pull-left {
    margin-right: 15px;
}
.media .dateEl {
    display: inline-block;
    text-align: center;
    background: #00c8e6;
    padding: 10px 0 10px 0;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    width: 113px;
    text-transform: uppercase;
}
.media .dateEl em {
    display: block;
    color: #fff;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 5px;
    font-style: normal;
}
.media .media-heading a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
.media .meta-data {
    margin: 0 0 0px 0;
}
.media .longDate, .media .timeEl {
    display: inline-block;
    font-size: 12px;
    line-height: 0px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    min-height: 5px;
}
.media .longDate {
    background: transparent url(../../assets/image/ico-calendar.png) no-repeat left top;
    padding: 0 10px 0 24px;
    border-right: 1px solid #eb5b4c;
    margin-right: 3px;
}
#tab1.tab-pane .media .longDate {
    border-right: none;
}
.upcoming_content{
margin-top: 0;
    margin-bottom: 0.2rem;
font-size: 12px;
}

.media-body-alt {
    background-color: #00c8e6;
}
.meta-data-alt 
{
line-height: 0.5rem;
}

.event_hover {
  font-size: 14px;
  line-height: 30px;
  color: #222222;
  font-weight: 500;
  padding: 4px 35px;
  display: inline-block;
  border: 1px solid #eeeeee;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-transform: uppercase;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;

}


.event_hover:hover {
 
 background: #00c8e6;
  color: #fff;

}


.event_hover_two {
  background: #00c8e6;
  color: #fff;
  border-color: #00c8e6;
}


.event_hover_two:hover {
  background: transparent;
  color: #f39c12;
}



/*-------------------------------------------------------*/
/* Sidebar
/*-------------------------------------------------------*/
.sidebar .widget {
	margin-bottom: 40px;
	background-color: #fff;
	padding: 32px;
	border: 1px solid #E3E4E8; }

.sidebar .widget_mc4wp_form_widget {
	padding: 32px !important; }

@media only screen and (min-width: 1200px) {
	.blog__content--right,
	.sidebar--right {
		float: right; }
	.sidebar--right {
		padding-left: 35px; } }

/*-------------------------------------------------------*/
/* Widgets
/*-------------------------------------------------------*/
.widget-title {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	margin-bottom: 24px;
	font-weight: 700; }

.widget .entry:last-child {
	margin-bottom: 0; }

.widget .sub-menu {
	padding-left: 15px;
	padding-top: 5px; }
	.widget .sub-menu li {
		padding: 5px 0 !important; }

.widget .children {
	padding-top: 10px;
	padding-left: 15px;
	margin-top: 10px; }

/* Widget Ad
-------------------------------------------------------*/
.widget_media_image {
	text-align: center;
	padding: 0 !important;
	background-color: transparent !important;
	-webkit-box-shadow: none !important;
	        box-shadow: none !important;
	border: 0 !important; }

/* Widget Search
-------------------------------------------------------*/
.widget-search-button,
.search-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 46px;
	height: 46px;
	line-height: 46px;
	padding: 0 !important;
	border: 0;
	vertical-align: middle; }
	.widget-search-button i,
	.search-button i {
		font-size: 18px;
		margin: 0;
		top: 3px; }

.search-form {
	position: relative; }

/* Categories
-------------------------------------------------------*/
.widget_categories li {
	padding: 9px 0;
	color: #54555E;
	line-height: 24px; }
	.widget_categories li:first-child {
		padding-top: 0; }
	.widget_categories li:last-child {
		padding-bottom: 0; }
	.widget_categories li a {
		color: #54555E; }
		.widget_categories li a:before {
			content: "\e804";
			font-family: "ui-icons";
			font-size: 10px;
			color: #2D95E3;
			margin-right: 8px;
			line-height: 1;
			vertical-align: middle; }
		.widget_categories li a:hover {
			color: #2D95E3; }

.categories-count {
	float: right;
	background-color: #f7f7f7;
	display: inline-block;
	padding: 0 11px;
	height: 24px;
	border-radius: 5px; }

/* Widget Newsletter 
-------------------------------------------------------*/
.widget_mc4wp_form_widget .widget-title:after {
	display: none; }

.mc4wp-form-fields {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex; }
	.mc4wp-form-fields > .form-group:first-child {
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1; }

.mc4wp-form-fields input[type=email],
.mc4wp-form-fields input[type=text] {
	margin-bottom: 8px; }

.mc4wp-form-fields input[type=submit] {
	margin-bottom: 0;
	width: auto; }
	.mc4wp-form-fields input[type=submit]:focus {
		background-color: #2D95E3; }

.newsletter__text {
	color: #83858F; }

.newsletter__icon {
	color: #AFB2BD;
	margin-right: 5px;
	font-size: 18px; }

/* Widget Newsletter Wide
-------------------------------------------------------*/
.newsletter-wide {
	background-color: #f7f7f7;
	padding: 48px 0; }
	.newsletter-wide__container {
		padding: 0 15px; }
		@media only screen and (min-width: 576px) {
			.newsletter-wide__container {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-pack: distribute;
				    justify-content: space-around; } }
	.newsletter-wide__text-holder {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center; }
	.newsletter-wide__text {
		margin-bottom: 0; }
		@media only screen and (max-width: 575px) {
			.newsletter-wide__text {
				margin-bottom: 10px; } }
	.newsletter-wide .mc4wp-form-fields input[type=email],
	.newsletter-wide .mc4wp-form-fields input[type=text] {
		margin-bottom: 0;
		border-color: transparent; }

/* Widget Socials
-------------------------------------------------------*/
.widget-socials .socials {
	display: block; }

/* Widget Nav Menu
-------------------------------------------------------*/
.widget_nav_menu li {
	padding: 4px 0; }
	.widget_nav_menu li:first-child {
		padding-top: 0; }
	.widget_nav_menu li:last-child {
		padding-bottom: 0; }

/* Widget Review Posts
-------------------------------------------------------*/
.widget-rating-posts .entry__title {
	font-size: 15px; }

.widget-rating-posts .post-list-small--2 .post-list-small__entry-title {
	font-size: 14px; }

/* Widget Latest Videos
-------------------------------------------------------*/
.widget-latest-videos .entry__title {
	font-size: 15px; }

/* Widget Instagram
-------------------------------------------------------*/
.widget-instagram-wide {
	padding-top: 48px;
	background-color: #fff; }
	.widget-instagram-wide__title {
		margin-bottom: 32px; }
	.widget-instagram-wide__list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex; }

.widget-instagram__list {
	margin-left: -24px; }

.widget-instagram li {
	padding: 0 0 24px 24px;
	float: left;
	width: 33.3333%; }

/* Widget Logo
-------------------------------------------------------*/
.widget-logo .copyright {
	margin-top: 24px;
	margin-bottom: 24px; }

/* Widget Twitter
-------------------------------------------------------*/
.tweet {
	word-wrap: break-word;
	margin-bottom: 5px; }

#tweets li {
	position: relative;
	padding-left: 24px;
	margin-bottom: 18px; }
	#tweets li:last-child {
		margin-bottom: 0; }

#tweets li:before {
	content: '\f099';
	font-family: 'ui-icons';
	color: #1DA1F2;
	font-size: 14px;
	position: absolute;
	left: 0;
	top: 3px; }

.timePosted {
	font-size: 12px !important;
	color: #83858F;
	text-transform: uppercase;
	margin-bottom: 0; }

/* Widget Tags / Entry Tags
-------------------------------------------------------*/
.widget_tag_cloud a,
.entry__tags a {
	padding: 6px 10px;
	line-height: 1;
	margin: 0 8px 8px 0;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #f7f7f7;
	font-family: "Source Sans Pro", sans-serif;
	color: #54555E;
	display: inline-block;
	float: left; }
	.widget_tag_cloud a:hover,
	.entry__tags a:hover {
		background-color: #2D95E3 !important;
		border-color: transparent;
		color: #fff !important; }

.tagcloud {
	overflow: hidden; }

/*-------------------------------------------------------*/
/* Post Thumbs
/*-------------------------------------------------------*/
.thumb-container {
	background-color: #f7f7f7;
	position: relative;
	overflow: hidden;
	-webkit-transform: translateZ(0);
	transform: translateZ(0); }
	.thumb-container img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		min-height: 100%;
		-webkit-backface-visibility: hidden;
		        backface-visibility: hidden; }
	.footer--dark .thumb-container {
		background-color: #171821; }

.thumb-text-holder {
	position: absolute;
	bottom: 24px;
	width: 100%;
	z-index: 3;
	padding: 0 24px;
	text-align: center; }
	.thumb-text-holder .entry__meta li,
	.thumb-text-holder .entry__meta a,
	.thumb-text-holder .entry__meta a:hover,
	.thumb-text-holder .entry__meta a:focus {
		color: #fff !important; }
	.thumb-text-holder--1 {
		text-align: left; }
		.thumb-text-holder--1 .thumb-entry-title {
			font-size: 18px;
			margin-bottom: 24px; }
	.thumb-text-holder--2 {
		text-align: left; }
		.thumb-text-holder--2 .thumb-entry-title {
			font-size: 34px;
			margin-top: 14px;
			margin-bottom: 8px; }
			@media only screen and (max-width: 767px) {
				.thumb-text-holder--2 .thumb-entry-title {
					font-size: 20px; } }
		.thumb-text-holder--2 .entry__meta a {
			color: #fff !important; }
	.thumb-text-holder--3 {
		text-align: left; }
		.thumb-text-holder--3 .thumb-entry-title {
			font-size: 28px;
			margin-top: 16px; }
			@media only screen and (max-width: 767px) {
				.thumb-text-holder--3 .thumb-entry-title {
					font-size: 20px; } }
	.thumb-text-holder--4 {
		text-align: left; }
		.thumb-text-holder--4 .thumb-entry-title {
			font-size: 16px; }
	.thumb-text-holder--5 {
		text-align: center;
		top: 50%;
		left: 50%;
		bottom: auto;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%); }
		.thumb-text-holder--5 .thumb-entry-title {
			font-size: 40px;
			max-width: 770px;
			margin: 8px auto; }
			@media only screen and (max-width: 767px) {
				.thumb-text-holder--5 .thumb-entry-title {
					font-size: 20px; } }

.thumb {
	margin-bottom: 48px; }
	.thumb--mb-20 {
		margin-bottom: 20px; }
	.thumb--size-1 {
		height: 197px; }
	.thumb--size-2 {
		height: 298px; }
	.thumb--size-3 {
		height: 460px; }
	.thumb--size-4 {
		height: 395px; }
	.thumb--size-5 {
		height: 521px; }
	.thumb--size-6 {
		height: 609px; }
		@media only screen and (max-width: 991px) {
			.thumb--size-6 {
				height: 440px; } }
	@media only screen and (max-width: 767px) {
		.thumb--size-3, .thumb--size-4, .thumb--size-5, .thumb--size-6 {
			height: 300px; } }
	.thumb__img-holder {
		height: 100%;
		margin-bottom: 0; }

.thumb-url {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2; }

.thumb-entry-title {
	color: #fff;
	font-size: 15px;
	margin-bottom: 0; }
	.thumb-entry-title:hover a,
	.thumb-entry-title a:focus {
		color: #fff; }

.thumb-50 {
	padding-bottom: 50%; }

.thumb-60 {
	padding-bottom: 60%; }

.thumb-65 {
	padding-bottom: 65%; }

.thumb-70 {
	padding-bottom: 70%; }

.thumb-75 {
	padding-bottom: 75%; }

.thumb-80 {
	padding-bottom: 80%; }

.thumb-100 {
	padding-bottom: 100%; }


/* Post List
-------------------------------------------------------*/
.post-list {
	position: relative;
	margin-bottom: 20px;
	min-height: 241px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row; }
	.post-list:last-child {
		border-bottom: 0;
		padding-bottom: 0;
		margin-bottom: 0; }
	.post-list__img-holder {
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 50%;
		        flex: 0 0 50%;
		margin-right: 30px;
		margin-bottom: 0; }
		@media only screen and (max-width: 991px) {
			.post-list__img-holder {
				width: 170px; } }
	.post-list__body {
		overflow: hidden;
		-webkit-box-flex: 0;
		    -ms-flex: 0 0 50%;
		        flex: 0 0 50%; }
	@media only screen and (max-width: 575px) {
		.post-list {
			display: block; }
			.post-list__img-holder, .post-list__body {
				width: 100%; }
			.post-list__img-holder {
				float: none;
				margin-right: 0;
				margin-bottom: 30px;
				height: 180px; } }

/* Post List Small
-------------------------------------------------------*/
.post-list-small__item {
	padding: 16px 0;
	position: relative; }
	.post-list-small__item:first-child {
		padding-top: 0; }
	.post-list-small__item:last-child {
		padding-bottom: 0;
		border-bottom: 0; }

.post-list-small__img-holder {
	width: 88px;
	float: left;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 16px; }
	@media only screen and (max-width: 575px) {
		.post-list-small__img-holder {
			width: 50px; } }

.post-list-small__img--rounded {
	border-radius: 50%;
	overflow: hidden; }

.post-list-small__body {
	overflow: hidden; }

.post-list-small__entry-title {
	font-size: 14px;
	line-height: 1.4;
	margin-bottom: 5px;
	margin-top: 5px; }
	.post-list-small__entry-title a {
		color: #171821; }
		.post-list-small__entry-title a:hover, .post-list-small__entry-title a:focus {
			color: #2D95E3; }

.post-list-small--border-top {
	border-top: 1px solid #E3E4E8;
	padding-top: 16px;
	margin-top: -10px; }

.post-list-small--dividers li {
	border-bottom: 1px solid #E3E4E8; }

.post-list-small--arrows {
	position: relative; }
	.post-list-small--arrows li {
		padding-left: 16px; }
		.post-list-small--arrows li:before {
			content: '\e804';
			font-family: 'ui-icons';
			color: #2D95E3;
			position: absolute;
			left: 0;
			top: 22px;
			font-size: 10px; }
		.post-list-small--arrows li:first-child:before {
			top: 6px; }

.post-list-small--1 .post-list-small__item {
	border-bottom: 1px solid #E3E4E8; }
	.post-list-small--1 .post-list-small__item:last-child {
		border-bottom: 0; }

.post-list-small--1 .post-list-small__img-holder {
	border-radius: 0;
	width: 78px; }

.post-list-small--1 .post-list-small__entry-title {
	margin: 0; }

.post-list-small--2 .post-list-small__img-holder {
	border-radius: 0;
	width: 130px; }

.post-list-small--2 .post-list-small__entry-title {
	font-size: 16px; }

.post-list-small--3 {
	margin-bottom: 48px; }
	.post-list-small--3 .post-list-small__item {
		border-bottom: 1px solid #E3E4E8;
		padding: 24px 0; }
		.post-list-small--3 .post-list-small__item:first-child {
			border-top: 1px solid #E3E4E8; }
		.post-list-small--3 .post-list-small__item:last-child {
			padding-bottom: 24px; }
	.post-list-small--3 .post-list-small__img-holder {
		border-radius: 0;
		width: 84px; }
	.post-list-small--3 .post-list-small__entry-title {
		margin-top: 0;
		font-size: 16px;
		font-weight: 500;
		color: #54555E; }
ul {
    list-style: none !important;
    margin: 0;
    padding: 0;
}
.row-alt {
margin-left:0px !important;
margin-right:0px !important;
}

/*-------------------------------------------------------*/
/* Trending Now
/*-------------------------------------------------------*/
.trending-now {
	background-color: #fff;
	position: relative;
	overflow: hidden;
	margin-top: 24px;
	height: 36px;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); }
	.trending-now__label {
		background-color: #2D95E3;
		font-family: "Source Sans Pro", sans-serif;
		font-weight: 700;
		display: inline-block;
		color: #fff;
		padding: 0 16px;
		line-height: 36px;
		height: 36px;
		text-transform: uppercase;
		letter-spacing: 0.04em;
		font-size: 14px;
		float: left; }
	.trending-now__text {
		margin-left: 5px; }
	.trending-now--1 {
		-webkit-box-shadow: none;
		        box-shadow: none;
		margin-top: 0; }
		.trending-now--1 .newsticker {
			border: 1px solid #E3E4E8; }

.newsticker {
	padding-right: 80px;
	padding-left: 20px;
	overflow: hidden; }
	.newsticker__item {
		line-height: 36px;
		white-space: nowrap; }
	.newsticker__item-url {
		color: #54555E; }
		.newsticker__item-url:hover {
			color: #2D95E3; }

.newsticker-buttons {
	position: absolute;
	top: 0;
	right: 0; }

.newsticker-button {
	background-color: transparent;
	float: left;
	padding: 0;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	font-size: 12px;
	color: #54555E;
	border: none; }
	.newsticker-button:first-child {
		border-right: 1px solid #E3E4E8; }
	.newsticker-button:focus {
		outline: none; }
	.newsticker-button:hover {
		background-color: #2D95E3;
		color: #fff;
		border-color: transparent; }