<div class="parent">
        <!--================banner Area =================-->
        <section class="banner_area d-flex text-center banner-align">
            <div class="container align-self-center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="banner_content">
                            <h6>Who Created us</h6>
                            <h1>Keep faith always</h1>
                            <p>If you are looking at blank cassettes on the web, you may be very confused at<br> the difference in price. You may see some for as low as $.17 each.</p>
                            <a href="#" class="btn_hover btn_hover_two">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================banner Area =================-->

        
        <!--================About Area =================-->
        <section class="about_area section_gap">
            <div class="container">
                <div class="section_title text-center">
                    <h2>Welcome to Faith Church</h2>
                    <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from </p>
                </div>
                <div class="row">
                    <div class="col-md-6 d_flex">
                        <div class="about_content flex">
                            <h3 class="title_color">Did not find your Package Feel free to ask us. We‘ll make it for you</h3>
                            <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach. inappropriate behavior is often laughed.</p>
                            <a href="#" class="about_btn btn_hover">Read Full Story</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="assets/image/about.jpg" alt="abou_img">
                    </div>
                </div>
            </div>
        </section>
        <!--================About Area =================-->
        
        <!--================Features Area =================-->
        <section class="features_area">
            <div class="row m0">
                <div class="col-md-3 features_item">
                    <h3>Spreading Light to world</h3>
                    <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence and upturning of the natural.</p>
                    <a href="#" class="btn_hover view_btn">View Details</a>
                </div>
                <div class="col-md-3 features_item">
                    <h3>Spreading Light to world</h3>
                    <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence and upturning of the natural.</p>
                    <a href="#" class="btn_hover view_btn">View Details</a>
                </div>
                <div class="col-md-3 features_item">
                    <h3>Spreading Light to world</h3>
                    <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence and upturning of the natural.</p>
                    <a href="#" class="btn_hover view_btn">View Details</a>
                </div>
                <div class="col-md-3 features_item">
                    <h3>Spreading Light to world</h3>
                    <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence and upturning of the natural.</p>
                    <a href="#" class="btn_hover view_btn">View Details</a>
                </div>
            </div>
        </section>
        <!--================Features Area =================-->
        
        <!--================Sermons work Area =================-->
        <app-sermons></app-sermons>
        <!--================Sermons work Area=================-->
        <!--================Donate Area=================-->
        <section class="donate_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex align-self-center">
                        <div class="donate_content ">
                            <h2>Your donation can save <br>many lives</h2>
                            <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from innocence.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="donation_form">
                            <h3>How much would you like to donate?</h3>
                            <div class="form-group">
                                <input type='text' class="form-control" placeholder="$5"/>
                            </div>
                            <div class="form-group">
                                <input type='text' class="form-control" placeholder="$5"/>
                            </div>
                            <div class="form-group">
                                <input type='text' class="form-control" placeholder="$5"/>
                            </div>
                            <div class="form-group">
                                <input type='text' class="form-control" placeholder="Any"/>
                            </div>
                            <a href="#" class="btn_hover btn_hover_two">Donate Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Donate Area=================-->
        
        <!--================Event Blog Area=================-->
        <app-upcomingevents></app-upcomingevents>
        
<ul class="quickNav">
 
    <!-- Trending Now -->
       <div class="container">
         <div class="trending-now">
           <span class="trending-now__label">
             <i class="fa fa-bolt"></i>
             <span class="trending-now__text d-lg-inline-block d-none">Newsflash</span>
           </span>
           <div class="newsticker">
             <ul class="newsticker__list">
               <li class="newsticker__item"><a href="single-post.html" class="newsticker__item-url">A-HA theme is multi-purpose solution for any kind of business</a></li>
               <li class="newsticker__item"><a href="single-post-1.html" class="newsticker__item-url">Satelite cost tens of millions or even hundreds of millions of dollars to build</a></li>
               <li class="newsticker__item"><a href="single-post-3.html" class="newsticker__item-url">8 Hidden Costs of Starting and Running a Business</a></li>          
             </ul>
           </div>
           <div class="newsticker-buttons">
             <button class="newsticker-button newsticker-button--prev" id="newsticker-button--prev" aria-label="next article"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
             <button class="newsticker-button newsticker-button--next" id="newsticker-button--next" aria-label="previous article"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
           </div>
         </div>
       </div>
   </ul>
        <!--================Blog Area=================-->
    </div>