<div>
    <h2 class="header">Event Summary</h2>
    <table>
        <thead>
            <tr>
                <td>Event Name:</td>
                <td>Date:</td>
                <td>Event Details:</td>
            </tr>
        </thead>
        <tbody>
    <tr *ngFor="let eventsum of eventsummary; index as i;">
    <td>{{eventsum.eventname}}</td>
    <td>{{eventsum.date}}</td>
    <li><a href="#"> {{eventsum.eventsummary}}</a></li>
    </tr>
        </tbody>
    </table> 
</div>

