table, th , td  {
    border: 0px solid grey;
    border-collapse: collapse;
    padding: 5px;

  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  .header{
    background-color: cornflowerblue;
    width: 40.5%;
  }
